@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*{
    padding: 0;
    margin: 0;
}

body{
    max-width: 1000px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* body{
    min-height: 100vh;
    background-image: url(profile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */